html {
  height: 100%;
  background: linear-gradient(90deg, #80A2CC, #F99F86);
  background: -webkit-linear-gradient(90deg, #80A2CC, #F99F86);
}

body {
   min-height: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   font-family: 'Arvo', Arial, Helvetica, Sans-serif;
   background: linear-gradient(90deg, #80A2CC, #F99F86);
   background: -webkit-linear-gradient(90deg, #80A2CC, #F99F86);

}

h1,h2,h3,h4,h5,h6 {
  color: white;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
}

p, li, ul, ol {
  font-family: 'Raleway';
  color: white;
  font-size: 20px;
  line-height: 1.25em;
}

.app {
  /*width: 100%;
  height: 100%;*/
  margin-bottom: 150px;
  margin-top: 150px;

  /*padding-top: 100px;*/
}
